@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Caveat:wght@700&family=Pacifico&display=swap');

.map {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 500px;
}

.maptext-h3 {
  font-size: 24px;
  font-family: 'Pacifico', cursive;
}

.maptext-a,
.maptext-p {
  font-size: 17px;
  font-family: 'Pacifico', cursive;
}